.cloud #profile{
    color: #42475d !important;
}

.cloud #about-me{
    color: #42475d !important;
}

.cloud .bio-text{
    color: #686e8b;
}

.cloud .grid {
    color: #686e8b;
}

/* #summary .portrait-title {
    color: #42475d !important;
}

#summary .network-icon {
    color: #42475d !important;
}

#summary .bio-text {
    color: #686e8b;
}

#about-me {
    color: #42475d;
}

#summary .grid {
    color: #686e8b;
} */