.cloud .portrait-title{
    color: #42475d !important;
}

.cloud .network-icon {
    color: #42475d !important;
}

.cloud #about-me{
    color: #42475d;
}

.cloud .grid {
    color: #686e8b;
}

.cloud .text-3xl{
    color: #42475d !important;
}

.cloud .prose {
    color: #686e8b;
}