#section-resume-biography-3 .portrait-title {
    color: blue !important;
}

#section-resume-biography-3 .network-icon {
    color: red !important;
}

#section-resume-biography-3 .bio-text {
    color: green;
}

#about-me {
    color: yellow;
}

#section-resume-biography-3 .grid {
    color: purple;
}